@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cybergreen: #19c90b;
  --cybergreenshadow: #489442;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgba(23, 23, 23, 1);
}

.cygreen {
  color: #19c90b;
}

.spread {
  text-shadow: 5px 5px 5px var(--cybergreenshadow);
}

.info-text {
  font-size: 21px;
  color: white;
  margin: 2rem 2rem;
}

.godeeper {
  position: absolute;
  color: white;
  height: 3rem;
  width: 7rem;
  background-color: black;
  padding: 0.7rem;
  border-radius: 10%;
  right: 5rem;
  text-align: center;
}

.godeeper:hover {
  color: var(--cybergreen);
  background-color: rgb(40, 40, 40);
}

.pass-img-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.password-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.phimage-container {
  width: 24vw;
  height: 18vw;

  min-width: 190px;
  min-height: 130px;

  overflow: hidden;
}

.phimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  overflow-x: hidden
}

.break-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

li::before {
  content: "";
}

li {
  margin-bottom: 5px;
  white-space: pre-wrap;
}

.pre {
  list-style-type: circle;
}

code {
  padding: 2px;
  border-radius: 0.4vw;
  background: #3d3d3d;
  font-family: "Courier New";
}

.title-resp {
  font-size: max(2vw, 20px);
  margin-top: 4vw;
}

.choice {
  font-size: max(1.2vw, 15px);
  margin: 8px 0;
}

@media only screen and (max-width: 1290px) {
  .title-resp {
    margin-top: max(6vw, 80px);
  }
}

@media only screen and (max-width: 1040px) {
  .godeeper {
    display: block;
    position: static;
    margin: auto;
    margin-bottom: 10px;
  }
}