@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cybergreen: #19c90b;
  --cybergreenshadow: #489442;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgba(23, 23, 23, 1);
}

.cygreen {
  color: #19c90b;
}

.spread {
  text-shadow: 5px 5px 5px var(--cybergreenshadow);
}

.info-text {
  color: white;
  margin: 2rem 2rem;
}

.godeeper {
  position: absolute;
  color: white;
  height: 3rem;
  width: 7rem;
  background-color: black;
  padding: 0.7rem;
  border-radius: 10%;
  right: 5rem;
  text-align: center;
}

.godeeper:hover {
  color: var(--cybergreen);
  background-color: rgb(40, 40, 40);
}

.pass-img-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.password-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  overflow-x: hidden
}